# Node
node_modules
npm-debug.log

# Environment
.env*
!.env.example

# Git
.git
.gitignore

# Editor and system files
.vscode
.idea
.DS_Store
Thumbs.db

# Build artifacts
.next
dist
out
coverage

# CI/CD
.husky
dev/
